@import
"_fonts",
"_text-size",
"_type-variables";

// p {
//     @include body;
// }

// h1, .h1, .heading-xxlarge {
//     @include heading-xxlarge;
// }
  
//   h2, .h2, .heading-xlarge {
//     @include heading-xlarge;
// }
  
//   h3, .h3, .heading-large {
//     @include heading-large;
// }
  
//   h4, .h4, .heading-medium {
//     @include heading-medium;
// }
  
//   h5, .h5, .heading-small {
//     @include heading-small;
// }
  
//   h6, .h6, .heading-xsmall {
//     @include heading-xsmall;
// }

html {
  @include fluid-type($min_width, $max_width, $min_font, $max_font);
  @include font--primary-regular;
  line-height: $line-height;
}

p {
  margin-top: 0;
  margin-bottom: $vertical-rhythm;
}

.display-2 {
  font-size: round($mod_1*$mod_1*$mod_1*$mod_1*$mod_1*$mod_1 *1rem);
  @include fluid-type($min_width, $max_width, $mod_1*$mod_1*$mod_1*$mod_1*$mod_1*$mod_1 *$min_font, $mod_2*$mod_2*$mod_2*$mod_2*$mod_2*$mod_2 *$min_font);
  margin-bottom: 1rem/$line-height; //Vertical rhythm derived space for hierarchical grouping
  margin-top: $line-height*1rem;
}

.display-1 {
  font-size: $mod_1*$mod_1*$mod_1*$mod_1*$mod_1 *1rem;
  @include fluid-type($min_width, $max_width, $mod_1*$mod_1*$mod_1*$mod_1*$mod_1 *$min_font, $mod_2*$mod_2*$mod_2*$mod_2*$mod_2 *$min_font);
  margin-bottom: 1rem/$line-height;
  margin-top: $line-height*1rem;
}

h1 {
  font-size: $mod_1*$mod_1*$mod_1*$mod_1 *1rem;
  @include fluid-type($min_width, $max_width, $mod_1*$mod_1*$mod_1*$mod_1 *$min_font, $mod_2*$mod_2*$mod_2*$mod_2 *$min_font);
  margin-bottom: 1rem/$line-height;
  margin-top: $line-height*1rem;
}

h2 {
  font-size: $mod_1*$mod_1*$mod_1 *1rem;
  @include fluid-type($min_width, $max_width, $mod_1*$mod_1*$mod_1 *$min_font, $mod_2*$mod_2*$mod_2 *$min_font);
  //margin-bottom: $mod_1*$mod_1*$mod_1 *1rem;
  margin-bottom: 1rem/$line-height;
  margin-top: $line-height*1rem;
}

h3 {
  font-size: $mod_1*$mod_1 *1rem;
  @include fluid-type($min_width, $max_width, $mod_1*$mod_1 *$min_font, $mod_2*$mod_2 *$min_font);
  margin-bottom: 1rem/$line-height;
  margin-top: $line-height*1rem;
}

h4 {
  font-size: $mod_1 *1rem;
  @include fluid-type($min_width, $max_width, $mod_1 *$min_font, $mod_2 *$min_font);
  margin-bottom: 1rem/$line-height;
  margin-top: $line-height*1rem;
}

h5 {
  font-size: 1rem;
  @include fluid-type($min_width, $max_width, $min_font, $min_font);
  margin-bottom: 1rem/$line-height;
  margin-top: $line-height*1rem;
}

h6 {
  font-size: 1rem/$mod_1;
  @include fluid-type($min_width, $max_width, $min_font/$mod_1, $min_font/$mod_2);
  margin-bottom: 1rem/$line-height;
  margin-top: $line-height*1rem;
}


h1,
h2,
h3,
h4,
h5,
h6,
.display-1,
.display-2 {
  //@include font--secondary-heavy;
  font-weight: 900;
  font-feature-settings: "lnum";
  font-variant-numeric: tabular-nums;
  line-height: 1.1; //Stylistic override
}