//@import
//"_fonts",
//"_text-size";

// Custom Variables

$min_width: 320px; //Smallest screen
$max_width: 768px; //Medium up breakpoint
$min_font: 16px;
$max_font: 21px;

$line-height: 1.618; //golden ratio, can be changed to accomodate font-family

$mod_1: 1.25; // mobile, major 3rd
$mod_2: 1.414; // desktop, augmented 4th

$vertical-rhythm: $line-height * 1rem;