@import 'global';

* {
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

html {
    scroll-behavior: smooth;
}

// Simple function to loop through headings
@function headings($from:1, $to:6) {
    @if $from == $to {
        @return 'h#{$from}';
    } @else {
        @return 'h#{$from},' + headings($from+1, $to);
    }
}

// Mixin for star psuedo element
@mixin star {
    content:"★";
    font-size: var(--text-xs);
    line-height: 0;
    padding: var(--space-sm);
    color: var(--color-white);
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    height: 100%;
}

// Hide explanation for sketch file generation using this URL parameter: ?gen
.gen .explain {
    margin: 0;
    padding: 0;
    &> {
        p, #{headings(1,6)} {
            display: none;
        }
    }
    .demo>* {
        .spacer, .color {
            &::before {
                display: none;
            }
        }
    }
}

.logo {
    width: 100px;
    align-self: center;
}

.intro-wrapper {
    background-color: var(--color-contrast-lower);
    padding-top: var(--space-xxl);
    padding-bottom: var(--space-xxl);
    margin-top: 0;
    section {
        margin: 0;
    }
}

section {
    margin-top: var(--space-xxl);
    margin-bottom: var(--space-xxl);
    padding-top: var(--space-lg);
    padding-bottom: var(--space-lg);
    section {
        margin: 0;
        // padding: 0;
    }
    .section-lead {
        padding-top: 0;
    }
}

// Sticky sidebar anchor navigation
nav.sidebar {
    position: sticky;
    top: var(--space-lg);
    margin-bottom: var(--space-lg);
    ul.sidebar__list {
        list-style-type: none;
        padding-left: 0;
        li.sidebar__list-item {
            &:first-of-type {
                margin-top: 0;
            }
            a {
                text-decoration: none;
            }
            --component-body-line-height: calc(var(--body-line-height) * var(--line-height-multiplier, 1));
            --component-heading-line-height: calc(var(--heading-line-height) * var(--line-height-multiplier, 1));
            --line-height-multiplier: 1;
            --text-vspace-multiplier: 1;
            margin-top: calc(var(--space-sm) * var(--text-vspace-multiplier)); //Match spacing from text-component
            margin-bottom: calc(var(--space-xxxs) * var(--text-vspace-multiplier));
        }
    }
}

// "Real" size displayed on desktop view
.app, .mobile {
    font-size: 0.667em;
}

// Prose content styling
.prose {
    &--mobile {
        font-size: 0.667em;
    }
}

// Demo container for easier scanning
.demo {
    padding: var(--space-md);
    margin: var(--space-md) calc(var(--space-md) * -1); //Offset left, right inset
    &--light {
        background-color: var(--color-contrast-lower);
    }
}


// Continue type sizing for smaller headings
h5,
h6 {
    --component-body-line-height: calc(var(--body-line-height) * var(--line-height-multiplier, 1));
    --component-heading-line-height: calc(var(--heading-line-height) * var(--line-height-multiplier, 1));
    --line-height-multiplier: 1;
    --text-vspace-multiplier: 1;
    line-height: var(--component-heading-line-height);
    margin-bottom: calc(var(--space-xxxs) * var(--text-vspace-multiplier));
    margin-top: calc(var(--space-sm) * var(--text-vspace-multiplier));
}

.lead {
    font-weight: 300;
}


// Spacer styling
.spacer {
    background-color: magenta;
    opacity: 0.75; //Opacity on this element for easy usage
    margin-right: var(--space-md);
    &--md {
        width: var(--space-md);
        height: var(--space-md);
        // display: flex;
        &::before {
            @include star;
            font-size: 0.5rem;
            padding: 0;
        }
    }
    
    &--xxxxs {
        width: var(--space-xxxxs);
        height: var(--space-xxxxs);
    }
    
    &--xxxs {
        width: var(--space-xxxs);
        height: var(--space-xxxs);
    }
    
    &--xxs {
        width: var(--space-xxs);
        height: var(--space-xxs);
    }
    
    &--xs {
        width: var(--space-xs);
        height: var(--space-xs);
    }
    
    &--sm {
        width: var(--space-sm);
        height: var(--space-sm);
    }
    
    &--lg {
        width: var(--space-lg);
        height: var(--space-lg);
    }
    
    &--xl {
        width: var(--space-xl);
        height: var(--space-xl);
    }
    
    &--xxl {
        width: var(--space-xxl);
        height: var(--space-xxl);
    }
    
    &--xxxl {
        width: var(--space-xxxl);
        height: var(--space-xxxl);
    }
    
    &--xxxxl {
        width: var(--space-xxxxl);
        height: var(--space-xxxxl);
    }
}

// Color Block styling
.color {
    width: var(--space-xxxl);
    height: var(--space-xxxl);
    margin-right: var(--space-md);
    &:last-of-type {
        margin-right: 0;
    }

    
    // Primary 
    &--color-primary-darker {
        background-color: var(--color-primary-darker);
    }
    &--color-primary-dark {
        background-color: var(--color-primary-dark);
    }
    &--color-primary {
        background-color: var(--color-primary);
        &::before {
            @include star;
        }
    }
    &--color-primary-light {
        background-color: var(--color-primary-light);
    }
    &--color-primary-lighter {
        background-color: var(--color-primary-lighter);
    }
    // Accent
    &--color-accent-darker {
        background-color: var(--color-accent-darker);
    }
    &--color-accent-dark {
        background-color: var(--color-accent-dark);
    }
    &--color-accent {
        background-color: var(--color-accent);
        &::before {
            @include star;
        }
    }
    &--color-accent-light {
        background-color: var(--color-accent-light);
    }
    &--color-accent-lighter {
        background-color: var(--color-accent-lighter);
    }
    // Layout
    &--color-black {
        background-color: var(--color-black);
        &::before {
            @include star;
        }
    }
    &--color-white {
        background-color: var(--color-white);
        &::before {
            @include star;
            color: var(--color-black);
        }
    }
    // --Contrasts
    &--color-bg {
        background-color: var(--color-bg);
        border: 2px solid var(--color-white);
    }
    &--color-contrast-lower {
        background-color: var(--color-contrast-lower);
        border: 2px solid var(--color-white);
    }
    &--color-contrast-low {
        background-color: var(--color-contrast-low);
    }
    &--color-contrast-medium {
        background-color: var(--color-contrast-medium);
    }
    &--color-contrast-high {
        background-color: var(--color-contrast-high);
    }
    &--color-contrast-higher {
        background-color: var(--color-contrast-higher);
    }
    // Feedback
    // --Error
    &--color-error-darker {
        background-color: var(--color-error-darker);
    }
    &--color-error-dark {
        background-color: var(--color-error-dark);
    }
    &--color-error {
        background-color: var(--color-error);
        &::before {
            @include star;
        }
    }
    &--color-error-light {
        background-color: var(--color-error-light);
    }
    &--color-error-lighter {
        background-color: var(--color-error-lighter);
    }
    // --Success
    &--color-success-darker {
        background-color: var(--color-success-darker);
    }
    &--color-success-dark {
        background-color: var(--color-success-dark);
    }
    &--color-success {
        background-color: var(--color-success);
        &::before {
            @include star;
        }
    }
    &--color-success-light {
        background-color: var(--color-success-light);
    }
    &--color-success-lighter {
        background-color: var(--color-success-lighter);
    }
    // --Warning
    &--color-warning-darker {
        background-color: var(--color-warning-darker);
    }
    &--color-warning-dark {
        background-color: var(--color-warning-dark);
    }
    &--color-warning {
        background-color: var(--color-warning);
        &::before {
            @include star;
        }
    }
    &--color-warning-light {
        background-color: var(--color-warning-light);
    }
    &--color-warning-lighter {
        background-color: var(--color-warning-lighter);
    }
}