.logo {
    width: 100px;
    align-self: center;
}

.intro-wrapper{
    background-color: #eff0f1;
    section {
        padding-top: 2rem;
        padding-bottom: 2rem;
    }
}


nav {
    position: sticky;
    top: 32px;
    bottom: 32px;
}